.login-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 500px;
    height: 500px;
    text-align: center;
}

.login-form__title {
    font-size: 20px;
    margin-bottom: 50px;
}

.login-form input {
    outline: none;
    border: none;
    border-radius: 4px;
    width: 250px;
    height: 30px;
    padding: 5px;
    font-size: 12px;
    text-align: center;
}

.login-form input:focus {
    border: 2px solid #80cbc4;
    background-color: #fff;
}

.login-form button {
    display: block;
    width: 250px;
    height: 30px;
    margin: 10px auto;
    outline: none;
    border: none;
    background-color: #80cbc4;
    border-radius: 4px;
    font-size: 12px;
    color: white;
    font-weight: 500;
    opacity: 0.8;
    cursor: pointer;
}

.login-form button:hover {
    opacity: 1;
}

.login-error-msg {
    font-size: 12px;
    color: #999;
    font-weight: 500;
    padding: 4px;
    margin: 0;
    text-align: center;
}
