* {
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}

input {
    outline: none;
    border: none;
    border-radius: 4px;
    width: 250px;
    height: 30px;
    padding: 5px;
    font-size: 12px;
    text-align: center;
}

input:focus {
    border: 2px solid #80cbc4;
    background-color: #fff;
}

input::placeholder {
    padding: 5px;
    font-size: 12px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

.btn {
    width: 80px;
    height: 30px;
    outline: none;
    border: none;
    background-color: #80cbc4;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.signup {
    width: 600px;
    margin: 10% auto;
    padding: 15px;
    text-align: center;
    border-radius: 4px;
}

.signup-title {
    font-size: 20px;
    margin-bottom: 15px;
}

.signup-item {
    text-align: left;
    margin-bottom: 20px;
    transform: translateX(160px);
}

.signup-item__profile {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    cursor: pointer;
    margin: 30px auto;
    transform: translateX(85px);
}

.signup-item input {
    margin: auto;
    margin-bottom: 5px;
}

.signup-item input[type='file'] {
    width: 90px;
    height: 120px;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    transform: translate(-5px, 4px);
}

.signup-button button {
    width: 200px;
    height: 30px;
    outline: none;
    border: none;
    background-color: #80cbc4;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.signup-error-msg {
    width: 245px;
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    margin: 0;
    text-align: center;
}
